

.imgCom{
    max-width: 30px;
    max-height: 30px;
}
.imgEd{
    max-width: 20px;
    max-height: 20px;
}



.receta {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    gap: 2.5%; /* Proporción de separación entre los elementos */
}

.tiempo, .tipo, .f2, .calorias, .porciones {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    gap: 2.5%; /* Usamos una proporción similar para todos los contenedores */
}
p{
    font-family: 'Jomhuria, sans-serif';
    color: #86A071;
    font-size: 20px;
    font-weight: bold;
}


.todo {
    border-radius: 10px;
    border: 3px solid;
    border-color: #3E7E1E;
    width: 90%; 
    max-width: 1000px; 
    height: 70vh; 
    background-color: #E3FFCB;
    position: relative;
    margin: 0 auto; /* Centrar el contenedor */
    padding: 2%; /* Espacio interno de 2% de su tamaño */
}

.btImg {
    border: none;
    background-color: transparent;
    max-width: 30px;
    max-height: 30px;
}


