.jomhuria-regular {
  font-family: "Jomhuria", serif;
  font-weight: 400;
  font-style: normal;
}

.p {
  line-height: initial;
}

.imgCom {
  max-width: 30px;
  max-height: 30px;
}

.imgEd {
  max-width: 20px;
  max-height: 20px;
}

.btUp .anticon-upload {
  color: #244C24;
}

.btUp:hover .anticon-upload {
  color: #244C24;
}

.btUp:hover {
  border-color: #244C24 !important;
}

.receta {
  display: flex;
  align-items: center;
  border-radius: 10px;
  border: 1px solid;
  border-color: #244C24;
  background-color: #CEFF77;
  padding: 25px;
  height: 100%;
  width: 100%;
  justify-content: space-around;
}

.nC {
  border-color: #244C24;
  right: 10px;
}

.tiempo,
.tipo,
.porciones,
.calorias {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  max-height: 50px;
  max-width: 250px;
  gap: 2.5%;
  background-color: #B3D86E;
  border-radius: 10px;
  border: 1px solid;
  border-color: #244C24;
}

.nP {
  border-color: #244C24;
  right: 10px;
}

.f1 {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  column-gap: 20px;
  height: 100%;
}

.f2 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  padding: 10px;
  height: 100%;
}

.f3 {
  display: flex;
  width: 100%;
  height: 100%;
  flex-direction: column-reverse;
  justify-content: space-between;
  padding: 10px;
}

.rect {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  align-content: flex-start;
  flex-wrap: wrap;
  width: 100%;
  padding-left: 10px;
}

.nRecCom {
  display: flex;
  width: 100%;
  align-items: center;
  gap: 10px;
}

.divEnviarReset {
  display: flex;
  width: 100%;
  justify-content: flex-start;
  gap: 10px;
}

.sl,
.sl2 {
  border-color: #244C24 !important;
  border: 1px solid;
  border-radius: 7px;
  position: relative;
  right: 10px;
}

.tipo .ant-input {
  color: #244C24;
  font-size: 16px;
  padding: 8px 15px;
  transition: all 0.3s ease;
}

.ant-select-selector {
  color: #244C24 !important;
  border-color: #244C24 !important;
}

.time:hover {
  border-color: #244C24;
}

.time {
  border-color: #244C24;
  position: relative;
  right: 10px;
}

p,
h3 {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-style: normal;
  color: #244C24;
}

.nRec {
  font-size: 40px;
  display: flex;
  margin: 0px;
  flex-direction: row;
  justify-content: flex-start;
  margin-block-end: 0px;
}

.user-title {
  margin-bottom: 20px;
  color: #244C24;
}

.tx {
  font-size: 25px;
  padding: 20px;
  color: #244C24;
}

.tx2 {
  font-size: 30px;
  padding: 10px;
  position: relative;
  top: 4px;
  margin: 0px;
  color: #CEFF77;
}

.txi,
.txt,
.txp,
.txc {
  padding: 20px;
  position: relative;
  margin: 0px;
  font-size: 25px;
  top: 1px;
  color: #244C24;
}

.todo {
  background-color: #FFFFFF; /* Fondo blanco general */
  padding: 2%;
  position: relative;
  display: flex;
  justify-content: center;
}

.btImg {
  border: none;
  background-color: transparent;
  max-width: 30px;
  max-height: 30px;
  bottom: 2px;
}

.btUp {
  border: 1px solid;
  border-color: #244C24;
  background-color: #B3D86E;
  max-width: 46px;
  max-height: 30px;
  position: relative;
  bottom: 25px;
  left: 220px;
  width: 100%;
}

.btEn,
.btEn2 {
  background-color: #244C24 !important;
  border: none !important;
  color: #CEFF77 !important;
}

.ing {
    width: 100%;
    height: 100%;
    gap: 10px;
    display: flex
}

/* RESPONSIVE STYLES */
@media (max-width: 655px) {
  .receta {
    flex-direction: column;
    gap: 10px;
  }

  .f1 {
    flex-direction: column;
    gap: 10px;
  }

  .f2 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
  }

  .ing {
    width: 100%;
    display: flex;
    flex-direction: column;
  }

  .btUp {
    position: relative;
    top: 110px;
    right: 15px;
    bottom: auto;
    left: auto;
  }
}

@media (min-width:655px) { /*Ipad size*/
    .todo {
        flex-direction: column;
        height: 100%;
    }
    .receta {
        flex-direction: column;
    }
    .btUp {
        position: relative;
        top: 100px;
        right: 15px;
        bottom: auto;
        left: auto;
    }
    .rect {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: normal;
        flex-wrap: nowrap;
    }
    .nRecCom {
        width: auto;
    }
    .divEnviarReset {
        width: auto;
    }
    .f1 {
        flex-direction: row;
        gap: 10px;
    }
    .f2 {
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-direction: column;
        gap: 20px;
    }
    .ing {
    width: 100%;
    display: flex;
    flex-direction: row;
    height: 100%;
    }
}

@media (min-width:900px) { /*Laptop size*/
    .todo {
        flex-direction: row;
    }
    .receta {
        flex-direction: row;
    }
    .btUp {
        position: relative;
        bottom: 25px;
        left: 220px;
        top: auto;
        right: auto;
    }
    .rect {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        align-content: flex-start;
        flex-wrap: wrap;
    }
    .nRecCom {
        width: 100%;
    }
    .divEnviarReset {
        width: 100%;
    }
    .f1 {
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        gap: auto;
    }
    .f2 {
        display: flex;
        justify-content: space-around;
        align-items: center;
        flex-direction: column;
    }
    .ing {
        
    width: 100%;
    display: flex;
    flex-direction: row;
  }
}
