.img{
    max-width: 40px;
    max-height: 40px;
    position: relative;
    /*top: 10px; de Cam*/

}
.jomhuria-regular {
  font-family: "Jomhuria", serif;
  font-weight: 300;
  font-style: normal;
}
.btAg{
    position: absolute;
    bottom: 10px;
    left: 5px;
    max-width: 40px;
    max-height: 40px;
    border: none;
    background-color: transparent;
    margin-right: 200px;
}

.btEd{
    position: absolute;
    bottom: 10px;
    right: 5px;
    max-width: 40px;
    max-height: 40px;
    border: none;
    background-color: transparent;
}

/* Estilos generales para el Card */
.card-container {
  width: 100%;
  height: fit-content;
  border-radius: 8px;
  }
  
  .ant-card-body {
    padding: 0px;
  }
  
  .card-checkbox-container {
    display: flex;
    flex-direction: column;
    padding: 24px;
    border-radius: 20px;
    position: relative;
  }
  
  .card-checkbox {
    display: flex;
    align-items: center;
    margin-bottom: 8px;
  }
  
  /* Estilos para el Drawer */
  .drawer-title {
    font-size: 18px;
    font-weight: bold;
  }
  
  .ant-list .ant-list-item {
    padding: 0px;
  }
  .drawer-checkbox {
    display: flex;
    align-items: center;
    margin-bottom: 8px;
  }
  
  
@media (max-width:900px) {
  
  .card-body {
    padding: 24px;
  }
  
}